.HTML {
  text-align: justify;
  font-size: 14px;
}
*{
  box-sizing: border-box;
  margin: 0;
}
a, p, li {
  font-family: 'Rubik', sans-serif;
}
/*mode nuit ou jour au cas ou*/
.light-mode {
  --navbar-color: rgb(0, 0, 0);
  --navbar-bg-color: #ececec;
}
.dark-mode {
  --navbar-color: #FFF;
  --navbar-bg-color: #000;
}
/*---------------------- Navbar ----------------------------*/
.navbar {
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  min-height: 75px;
  background: #1e5dfa;
  background: linear-gradient(271deg,#1e5dfa 0%, #042e9f 80%);
  background: -webkit-linear-gradient(271deg,#1e5dfa 0%, #042e9f 80%);
  background: -moz-linear-gradient(271deg,#1e5dfa 0%, #042e9f 80%);
  transition: top 0.5s;
  z-index: 4;
}
.navbar_links {
  display: flex;
  margin-top: 1rem;
}
.navbar_link {
  text-decoration: none;
  color: aliceblue;
  padding: 0 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.navbar_link.active, .navbar_link:hover {
  color: #D31E03;
  background-color: inherit;
}
.navbar_item {
  list-style: none;
}
.navbar_logo {
  display: flex;
  align-items: center;
  width: 10%;
}
.logo {
  height: 4rem;
}
.navbar_burger {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: inherit;
}
/*------------------BODY CSS-------------------------*/  
h1, h2 {
  text-align: center;
}
h1, .contact-title {
font-size: 3.6rem;
margin-top: 10rem;
margin-bottom: 10rem;font-family: 'Orbitron', sans-serif;
}
h2 {
  font-size: 2rem;
  font-family: 'Libre Baskerville', serif;
}
h3 {
  font-family: 'Lobster', cursive;
}
p , a , li {
  font-family: 'Lato', sans-serif;
}
.titre {
font-size: 2.5rem;
margin-bottom: 2rem;
}
hr {
  height: 4px !important;
  background-color: #202020 ;
  width: 40%;
  border: none;
  border-radius: 3rem;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
main {
  display: flex;
  width: 100%;
  margin-bottom: 8rem;
}
.container {
  width: 25%;
}
.contenu {
  display: block;
  border: solid black 0.1px;
  clip-path: polygon(3% 6%, 99% 2%, 95% 98%, 1% 90%);
  background: rgba(0,141,255,0.61);
  background: linear-gradient(359deg,rgba(0,141,255,0.61) 0%, rgba(0,248,255,0.36) 80%);
  background: -webkit-linear-gradient(359deg,rgba(0,141,255,0.61) 0%, rgba(0,248,255,0.36) 80%);
  background: -moz-linear-gradient(359deg,rgba(0,141,255,0.61) 0%, rgba(0,248,255,0.36) 80%);
  border-radius: 12px;
  margin-top: 1rem;
}
.contenu2 {
  display: block;
  border: solid black 0.1px;
  clip-path: polygon(8% 4%, 85% 11%, 88% 90%, 8% 95%);
  background: rgba(0,239,255,0.78);
  background: linear-gradient(180deg,rgba(0,239,255,0.78) 0%, rgba(60,184,225,0.85) 80%);
  background: -webkit-linear-gradient(180deg,rgba(0,239,255,0.78) 0%, rgba(60,184,225,0.85) 80%);
  background: -moz-linear-gradient(180deg,rgba(0,239,255,0.78) 0%, rgba(60,184,225,0.85) 80%);
}
.contenu > h2, .contenu2 > h2 {
  font-size: 2.15rem;
  margin: 2rem;
  margin-top: 4rem;
  text-shadow: 2px 1px #717171;
}
.listContenu {
  margin-right: 2rem;
  margin-bottom: 4rem;
  list-style-type: none;
  text-align: center;
  font-size: 1.4rem;
  text-shadow: 1px 1px grey;
}
.listContenu li {
  margin: 0.4rem;
}
aside {
  width: 75%;
  margin-right: 0;
}
/*-------------slider---------------*/
.slideshow-container {
  position: relative;
  margin: auto;
  margin-right: 3rem;
}
.numbertext h2 {
  margin: 6px;
  font-size: 1.5rem;
}
button {
  border: 0;
}
.arrows-Bckg {
  padding: 4px;
  margin: 4px;
}
.arrow {
  cursor: pointer;
  position: absolute;
  background-color: rgb(150, 148, 148);
  border-radius: 2rem;
}
.left, .right {  
  position: absolute;
  top: 58%;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.left:hover polyline,
.left:focus polyline {
  stroke-width: 8;
}
.left:active polyline {
  stroke-width: 14;
  transition: all .6s ease-in-out;
}
.right:hover polyline,
.right:focus polyline {
  stroke-width: 8;
}
.right:active polyline {
  stroke-width: 14;
  transition: all .6s ease-in-out;
}
polyline {
  transition: all .6s ease-in-out;
}
.img-slider {
  border-radius: 1rem;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  background-color: rgb(255, 255, 255);
  opacity: 0.4;
}
.next {
  left: 259px;
  border-radius: 8px 0 0 8px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #ececec;
}
.text {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 12px 12px;
  position: absolute;
  bottom: 1.5rem;
  text-align: center;
}
.numbertext {
  color: #000000;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dots {
  margin-left: 2.5rem;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}
/*------------------slider infini bas de page-------------------------*/
.slider-bottom {
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  margin-bottom: 6rem;
  border-radius: 1rem;
}
.sliderInfinite {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.sliderInfinite > img {
  overflow: hidden;
  float: left;
  width: 25%;
  height: 650px;
  object-fit: cover;
  margin-bottom: 4rem;
}
@keyframes slider {
  0% {
    left: 0;
  }
  13% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  38% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  63% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  83% {
    left: -300%;
  }
  100% {
    left: 0%;
  }
}
/*------------------------------footer-------------------------------------*/
hr.footer-sep {
  width: 100%;
  height: 2px;
  margin-bottom: 0;
}
footer {
  padding-bottom: 2rem;
  background-color: rgb(34, 34, 34);
  color: beige;
  padding-top: 4rem;
}
.foot-container {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin-bottom: 2rem;
}
.Services-foot h3, .Contact-foot h3,.Horaires-foot h3 {
  text-align: center;
  margin: 1rem;
  font-size: 1.7rem;
}
.Services-foot ul, .Contact-foot ul,.Horaires-foot ul { 
  padding-left: 0;
}
.Services-foot li, .Contact-foot li,.Horaires-foot li {
 list-style-type: none;
 padding: 0.2rem;
 text-align: center;
}
.fa-brands {
  font-size: 2.5rem;
}
.top-arrow {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  animation: arrow-mvmnt 3s ease-in-out infinite;
}
@keyframes arrow-mvmnt {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.top-arrow a {
  color: grey;
}
.pag {
  display: flex;
  justify-content: center;
}
.pag a {
  text-decoration: none;
  color: #202020;
  cursor: pointer;
}
.pag a:hover {
  color: whitesmoke;
}
.pag ul {
  list-style-type: none;
  display: flex;
  padding: 8px;
  border-radius: 4rem;
  background-color: rgb(2, 156, 222);
  cursor: default;
}
.pag ul li {
  list-style-type: none;
  line-height: 45px;
  text-align: center;
}
.pag ul li.numb {
  height: 45px;
  width: 30px;
}
.fa-solid.fa-check {
  color: green;
}
.fa-solid.fa-xmark {
  color: red;
}
.side-pag-left {
  padding-left: 1rem;
}
.side-pag-right {
  padding-right: 1rem;
}

/*-----------------------------story--------------------------------*/
.story-section {
  margin-bottom: 3rem;
}
.section-title {
  font-weight: 300;
  font-size: 3rem;
  margin: 4rem;
}
.story-main-title {
  font-size: 4rem;
  margin-bottom: 8rem;
}
.section-title, p {
  text-align: center;
}
.story-section p {
  font-size: 1.5rem;
  margin-left: 8rem;
  margin-right: 8rem;
  padding-bottom: 1rem;
}
.btn {
  margin: 4rem;
  display: flex;
  justify-content: center;
}
.btn button {
  cursor: pointer;
  padding: 1.6rem;
  border-radius: 0.7rem;
  background-color: rgb(45, 109, 247);
  color: aliceblue;
  font-size: 1.2rem;
  box-shadow: 2px 2px rgb(26, 26, 26);
}

/*-------------------contact---------------------------------*/
.content {
  text-align: center;
}
.content > a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}
.contact-bg {
 height: 100%;
 border: 2px rgb(255, 255, 255);
}
.com-ancre > p {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}
.com-ancre > p > svg {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-bottom: -2.6px;
}
.content > h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 6rem;
}
.com-ancre > a > button, button.partenaires, .btns > a > button {
  background-color: rgb(45, 109, 247);
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 2px 2px rgb(60, 60, 92);
  transition: transform .2s;
}
.partenaire-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.com-ancre > a > button:hover, button.partenaires:hover, .btns > a > button:hover, .btn button:hover {
  cursor: pointer;
  background-color: rgb(53, 53, 255);
  transform: scale(1.02);
  color: #000;
}
#alert{
  width: 90%;
  text-align: center;
  background-color: #202020;
  color: #ffffff;
  margin: auto;
  left: 0;
  right: 0;
  padding: 5px 0;
  display: none;
}
.com-ancre > a > button:active {
  box-shadow: 0 0;
  background-color: blueviolet;
  color: white;
  transform: translate(2px, 2px);
}
#text2 {
  font-weight: bolder;
}

/*-------------------------map------------------------------*/
.essai {
  overflow-x: hidden;
}
.text-card {
  display: flex;
  width: 100%;
  margin-left: 2em;
  text-align: left;
  overflow-x: hidden;
}
.zone-title {
  margin-bottom: 5rem;
  font-size: 3rem;
}
.text-area {
  width: 50%;
  margin-bottom: 4rem;
  margin-top: 1rem;
  vertical-align: middle;
}
.text-area p {
  margin: 2rem;
  font-size: 1.4rem;
}
.text-area ul {
  margin-top: 4rem;
  text-align: center;
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: -3rem;
}
.text-area ul li {
  margin-top: 1rem;
}
.map {
  width: 50%;
  padding-top: 2rem;
}
iframe {
  width: 90%;
}
/* -----------------medium size ------------------------*/
  
@media screen and (min-width:768px) {
  .container{
    width: 75%;
    padding-right: 3rem;
    margin-right: 3rem;
    margin-left: 8rem;
  }
  .slideshow-container{
    margin-right: 10rem;
    width: 30%;
  }
  .contenu {
    margin-left: 3rem;
    width: 80%;
  }
  .navbar_link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background: var(--navbar-color);
    transition: width .5s;
  }
  .navbar_link:hover > a::after {
    width: 100%;
  }
}

/* -----------------small device ------------------*/
@media screen and (max-width:770.98px) {
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    top: -1rem;
    width: 0;
    height: 104vh;
    padding: 2rem;
    visibility: hidden;
    background: #1e5dfa;
    background: linear-gradient(91deg,#1e5dfa 0%, #042e9f 80%);
    background: -webkit-linear-gradient(91deg,#1e5dfa 0%, #042e9f 80%);
    background: -moz-linear-gradient(91deg,#1e5dfa 0%, #042e9f 80%);
    transition: all .5s ease-in-out;
  }
  .show-nav {
    z-index: 10;
  }
  .show-nav .navbar_links {
    width: 100vw;
    visibility: visible;
    right: 0;
  }
  .navbar_logo {
    justify-content: center;
    width: 100%;
  }
  .navbar_link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .navbar_item:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 2px;
    background-color: azure;
  }
  .navbar_item:last-child::after {
    display: none;
  }
  .navbar_link::before {
    height: 1rem;
    color: antiquewhite;
    width: 1rem;
  }
  .navbar_burger {
    position: absolute;
    display: block;
    right: 2rem;
  }
  .navbar_burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: antiquewhite;
    transition: all .6s ease-in-out;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: '';
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
    height: 3px;
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger-bar {
   background: transparent;
  }
  .show-nav .burger-bar::before {
   transform: rotate(-45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(45deg);
  }
  .navbar_item {
    transform: translatex(100vh);
  }
  .show-nav .navbar_item {
    transform: translateX(0);
  }
  .show-nav .slideInDown-1 {
    animation: effect 1.2s ease-in-out;
  }
  .show-nav .slideInDown-2 {
    animation: effect 1.8s ease-in-out;
  }
  @keyframes effect {
    0% {
      transform: translateX(5rem);
    }
    33% {
      transform: translateX(-5rem);
    }
    66% {
      transform: translateX(2rem);
    }
    100% {
      transform: translateX(0);
    }
  }
  main {
    display: block;
  }
  .contenu {
    margin-bottom: 4rem;
  }
  .contenu2 {
    clip-path: polygon(2% 4%, 98% 12%,91% 90%, 6% 95%);
  }
  .listContenu {
    text-align: center;
    margin-left: -1rem;
    margin-bottom: 3.5rem;
  }
  .container {
    align-items: center;
    margin-right: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .foot-container {
    display: block;
    width: 100%;
  }
  .Services-foot h3, .Contact-foot h3,.Horaires-foot h3 {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
  }
  .Services-foot, .Contact-foot,.Horaires-foot {
    margin-bottom: 2rem;
  }
  .slideshow-container {
    margin-top: 8rem;
    margin-bottom: 0;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .mySlides.fade {
    width: fit-content;
  }
  .slider-bottom {
    width: auto;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    border-radius: 0;
  }
  .sliderInfinite {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
  }
  .sliderInfinite > img {
    height: 300px;
    object-fit: cover;
    animation: 20s slider infinite;
    margin-bottom: 0;
    }
  .text-card {
    display: block;
    margin-left: 0;
    overflow: hidden;
  }
  .text-area {
    width: 100%;
  }
  .map {
    width: 134%;
    margin-left: 0;
    margin-bottom: 4rem;
  }
  .iframe {
    width: 100%;
  }
  .story-section p {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
  }
  #text1 {
    font-size: 1.5rem;
  }
}